<nav class="sidebar">
    <h2 class="sidebar-title pane-title">Navigation</h2>
    <a class="nav-link active" href="#home">Home</a>
    <a class="nav-link" href="#backups">Backup &amp; Restore</a>
    <a class="nav-link" href="#maintenance">Cleanup</a>
    <hr class="nav-separator">
    <a class="nav-link" href="#panel_settings">Panel Settings</a>
    <a class="nav-link" href="#readme">Instructions</a>
    <hr class="nav-separator">
    <a class="nav-link" href="#minecraft_logs">Log Files</a>
</nav>
